@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'Montserrat', 'Noto Sans KR', '맑은 고딕', 'Dotum';
}

ul,li,ol {
  list-style: none;
}

a {
  text-decoration: none !important;
}

.logo {
  width: 130px;
  height: 100%;
}

.navbar {
  height: 100px;
  align-items: center;
}

#navbar {
  --bs-navbar-color: rgba(255,255,255,1);
}

#responsive-navbar-nav {
  padding: 10px 20px;
  background-color: #000;
  .me-auto {
    padding: 10px;
  }
  #user-nav {
    padding: 10px;
  }
}
